<!DOCTYPE html>
<html lang="es">
<head>
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/app.css') }}">
</head>
<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <nav>
        <a href="{{ url_for('perfil') }}">Mi Perfil</a>
        <a href="{{ url_for('amigos') }}">Mis Amigos</a>
        <a href="{{ url_for('productos') }}">Mis Productos</a>
        <a href="{{ url_for('carrito') }}">Mi Carrito</a>
        <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Perfil">
    </nav>

    <h1>¡Bienvenido a la aplicación!</h1>
    <p>
        <a class="boton comprar" href="{{ url_for('comprar') }}">COMPRAR</a> o
        <a class="boton vender" href="{{ url_for('vender') }}">VENDER</a>
    </p>
</body>
</html>