<!DOCTYPE html>
<html lang="es">
<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Iniciar sesión</h1>
    <form method="POST">
        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Enviar">
    </form>
    <p>¿Aún no tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
    <footer>
        <p>© 2023 Nuestro Sitio Web</p>
    </footer>
</body>
</html>