<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis amigos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/amigos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/wallapop.png') }}" type="image/png">
</head>
<body>

    <nav>
        <a class="selected" href="{{ url_for('app_route') }}">Inicio</a>
        <a href="{{ url_for('perfil') }}">Mi Perfil</a>
        <a href="{{ url_for('amigos') }}">Mis Amigos</a>
        <a href="{{ url_for('productos') }}">Mis Productos</a>
        <a href="{{ url_for('carrito') }}">Mi Carrito</a>
        <img src="{{ url_for('static', filename='imagenes/perfil.png') }}" alt="Perfil" id="profile-img">
        <!-- Menú desplegable -->
        <div class="dropdown-menu" id="dropdown-menu">
            <a id="cerrar-sesion" href="{{ url_for('home') }}">Cerrar sesión</a>
        </div>
    </nav>

    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>

    <h1>Amigos</h1>
</body>
</html>