<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/productos.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('perfil') }}">Mi Perfil</a>
        <a href="{{ url_for('amigos') }}">Mis Amigos</a>
        <a class="selected" href="{{ url_for('productos') }}">Mis Productos</a>
        <a href="{{ url_for('carrito') }}">Mi Carrito</a>
        <img src="{{ url_for('static', filename='imagenes/perfil.png') }}" alt="Perfil">
    </nav>

    <h1>Mis Productos</h1>
    <h2>Pendientes de confirmación</h2>
    <!-- for offers where seller_id = user_id -->
        <!-- poner misma interfaz que el catálogo pero en vez de poner al vendedor se pone al tío interesado y
         en vez de comprar se pone aceptar venta -->
    <h2>Sin solicitud de comprador</h2>
        <!-- for product in products where seller_id = user_id and status = 'en venta' -->
</body>
</html>