<!DOCTYPE html>
<html lang="es">
<head>
    <title>Vender</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vender.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/wallapop.png') }}" type="image/png">
</head>
<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <nav>
        <a href="{{ url_for('app_route') }}">Inicio</a>
        <a href="{{ url_for('perfil') }}">Mi Perfil</a>
        <a href="{{ url_for('amigos') }}">Mis Amigos</a>
        <a href="{{ url_for('productos') }}">Mis Productos</a>
        <a href="{{ url_for('carrito') }}">Mi Carrito</a>
        <img src="{{ url_for('static', filename='imagenes/perfil.png') }}" alt="Perfil">
    </nav>

    <form action="{{ url_for('vender') }}" method="POST">
        <h2>Publica un Producto</h2>
        <label for="name">Nombre del Producto:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="category">Categoría:</label>
        <select id="category" name="category" required>
            <option value="Hogar">Hogar</option>
            <option value="Oficina">Oficina</option>
            <option value="Informática">Informática</option>
            <option value="Utilidades">Utilidades</option>
            <option value="Moda">Moda</option>
            <option value="Cosméticos">Cosméticos</option>
            <option value="Alimentación">Alimentación</option>
        </select><br>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" step="0.01" required><br>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea><br>

        <button type="submit">Publicar</button>
    </form>
</body>
</html>