<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 factor authentification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/verify_2fa.css') }}">
</head>
<body>
    <form method="POST">
        <h1>Verificación en dos pasos</h1>
        <label for="token">Introduce el código de verificación que te hemos enviado al correo electrónico:</label>
        <input type="text" name="token" required>
        <button type="submit">Verificar</button>
</form>
</body>
</html>