*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 20px;
    border-radius: 0;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    transition: transform 0.3s;
}

nav a:hover {
    transform: scale(1.1);
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

nav #profile-img {
    cursor: pointer;
}

body > *:not(nav) {
    margin-top: 130px;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

h1 {
    text-align: center;
    color: #ffffff
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.tarjeta {
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.tarjeta h2 {
    color: #f97800;
    margin: 0 0 10px;
}

.tarjeta p {
    margin: 5px 0;
    color: #ffffff;
    word-wrap: break-word; /* Permite que las palabras largas se dividan y se ajusten a la línea */
    white-space: normal; /* Asegura que el texto se ajuste al ancho del contenedor */
}

.tarjeta button {
    background-color: #f97800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.tarjeta button:hover {
    transform: scale(1.1);
}

/* Menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px; /* Ajusta según la altura de la imagen de perfil */
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

/* Elementos del menú */
.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

/* Efecto hover en los elementos del menú */
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}