*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 20px;
    border-radius: 0;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    transition: transform 0.3s;
}

nav a:hover {
    transform: scale(1.1);
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

h1, h2, p {
    text-align: center;
    color: #ffffff
}

h1 {
    font-size: 32px;
    margin-top: 130px;
    margin-bottom: 25px;
}


p {
    font-size: 20px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 60px;
}

textarea {
    width: 500px;
    height: 80px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid #f97800;
}

.botones {
    display: flex;
    justify-content: center;
}

button {
    background-color: #f97800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 15px;
}

button:hover {
    transform: scale(1.1);
}